{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block css %}
<style>
    /* Add your custom styles here */
</style>
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css" />
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css" />
{% endblock %}

{% block body %}
{% load static %}
<div class="container mt-4">

<form action="/stocktracker">
  <label for="stockpicker"> Select Stocks:</label>
  <select class="form-select form-select-lg mb-3" multiple aria-label="Multiple select example" name="stockpicker">
    {% for i in stockpicker %}
      <option value="{{i}}">{{i}}</option>
    {% endfor %}
  </select>
  <div class="d-grid gap-2">
    <input class="btn btn-primary" type="Submit" value="Submit">
  </div>
</form>
</div>
<div class="maincontainer">
    <div class="row">
        <div class="col-md-6">
            <div class="card m-5">
                <div class="card-header bg-primary" style="color:white;">
                    Stock Details
                </div>
                <div class="mt-0">
                    <div id="agGrid" style="height: 300px;" class="ag-theme-alpine">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
<script>
    var socket = new WebSocket('ws://' + window.location.host + '/ws/stock/')


    var gridOptions = {
        columnDefs: [
            { headerName: 'Symbol', field: 'symbol' },
            { headerName: 'MarketCap', field: 'MarketCap' },
            { headerName: 'Change', field: 'Change',
              cellStyle: function(params) {
                return params.value < 0 ? {color: 'red'} : {color: 'green'};
              }
            },
            { headerName: 'Previous Close', field: 'PreviousClose' },
            { headerName: 'Quote Price', field: 'QuotePrice' },
            { headerName: 'Volume', field: 'Volume' }
          ],
        rowData: []
    };

    var eGridDiv = document.querySelector('#agGrid');
    new agGrid.Grid(eGridDiv, gridOptions);
    //new agGrid.createGrid(eGridDiv, gridOptions);
    
    socket.addEventListener('open', function (event) {
        console.log('WebSocket connection opened');
    });

    // Listen for messages
    socket.addEventListener('message', function (event) {
        var data = JSON.parse(event.data);
        var message = data['message'];
        // Handle the received message, e.g., update UI
        console.log('Received message: ', message);

        var rowData = Object.keys(message).map(function(symbol) {
          var previousClose = message[symbol]['Previous_Close'];
          var quotePrice = message[symbol]['Quote_Price'];
          var change = quotePrice - previousClose;
          return {
              symbol: symbol,
              MarketCap: message[symbol]['Market_Cap'],
              Change: change,
              PreviousClose: previousClose,
              QuotePrice: quotePrice,
              Volume: message[symbol]['Volume'],
              // Add more properties based on your data structure
              // Example: 52_Week_Range: message[symbol]['52_Week_Range'],
          };
      });

        gridOptions.api.setRowData(rowData);
        //gridOptions.api.applyTransaction({add:rowData});

    });

    // Connection closed
    socket.addEventListener('close', function (event) {
        console.log('WebSocket connection closed');
    });
   
</script>

{% endblock %}