{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block css %}
<style>
    /* Add your custom styles here */
</style>
{% endblock %}

{% block body %}
{% load static %}
<!-- Add this script at the end of your template -->
{% if user_exists %}
<script>
    function showLogoutAlert() {
        var result = window.confirm("User is already logged in from another device. Do you want to log out other sessions?");

        if (result) {
            // Send a POST request to the deletesession URL
            fetch("{% url 'deletesession' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',  // Include CSRF token if using Django's CSRF protection
                },
                body: JSON.stringify({
                    username: '{{ username }}',
                    password: '{{ password }}'
                })
            })
            .then(response => {
                if (response.ok) {
                    // Redirect or handle success as needed
                    window.location.href = "{% url 'register' %}";
                } else {
                    // Handle error
                    console.error('Error:', response.status);
                }
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
        }
    }
</script>

<script>
    showLogoutAlert();
</script>
{% endif %}


<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                    class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form id="authForm" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <!-- Username input -->
                    <div class="form-outline mb-4" data-mdb-input-init>
                        <input required type="text" name="username" id="usernamefield"
                            class="form-control form-control-lg" autocomplete="username" />
                        <label class="form-label" for="usernamefield">Username</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" name="password" id="passwordfield" class="form-control form-control-lg"
                            autocomplete="current-password" />
                        <label class="form-label" for="passwordfield">Password</label>
                    </div>

                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                            <label class="form-check-label" for="form1Example3"> Remember me </label>
                        </div>

                    </div>
                    <!-- Submit button -->

                    <!-- <button data-mdb-ripple-init type="button" onclick="performAction()" class="btn btn-primary btn-lg btn-block" id="submitButton">Sign Up</button> -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="toggleSignIn">Sign In</button>


                    <!-- Submit button -->
                    <!-- <button type="submit" class="btn btn-primary btn-lg btn-block" id="submitButton" onclick='performAction()'>Login</button> -->

                    <!-- Move the event listener registration inside the 'toggleSignIn' click event -->
                    <button type="button" class="btn btn-link" id="toggleForm">Forgot password?</button>


                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                    </div>

                    <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
                        role="button">
                        <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                    </a>
                    <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
                        role="button">
                        <i class="fab fa-twitter me-2"></i>Continue with Twitter</a>

                </form>

            </div>
        </div>
    </div>
</section>



{% endblock %}